@media (min-width: 390px){
    body{
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }  
    .bod{
        padding: 0px 20px 0px 20px;
    }
    .navigation2{
        margin-top: 54px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .prod2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .prod2-info{
        text-align: start;
        margin-top: 24px;
        gap: 8px;
    }
    .rate{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        width: 43px;
        height: 17px;
        gap: 3px;
    }
    .filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .size{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .info2{
        width: 100%;
        height: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
    }
    .below{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .belowtxt{
        text-align: start;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }
    .views{
        width: 100%;
        height: 93px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .button-sect{
        display: flex;
        flex-direction: column;
        margin-bottom: 61px;
    }
    .quantity{
        text-align: start;
        margin-bottom: 0;
    }
    .buttons{
        width: 100%;
        height: 48px;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .meter{
        margin: 0;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .add-to-cart{
        background: #64D8A4;
        border-radius: 20px;
        width: 121px;
        height: 48px;
    }
}